body{
    background-image: url('https://i.insider.com/5d794b532e22af02917ab373?width=1300&format=jpeg&auto=webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
   background-size:cover;
}




.delete-back{
    margin: 5px;
    width: 5rem;
    background-color: rgb(93, 131, 164);
}
.delete-btn:hover{
    background-color: rgb(240, 48, 19);
}
.back-btn:hover{
    background-color: rgb(46, 224, 26);
}
.card {
    border-radius: 10px;
    width: 18rem;
    height: 18rem;
    margin: 2rem;
}
.likes-counter{
    border-radius: 8px;
    
    background-color: rgb(81, 245, 16);
    position: absolute;
    bottom: 1px;
    right: 3px;
}
.like-color{
    color: black;
    font-weight: bold;
}
.free-yes-no{
    position: absolute;
    bottom: 1px;
    left: 2px;
    font-weight: bold;
}